.footer {
  display: block;
  position: relative;
  text-align: center;
  z-index: 2;

  height: 550px;

  .fon-foot-text {
    position: absolute;
    z-index: -2;
    top: calc(50% - 85px);
    text-shadow: 8px 13.9px 95px rgba(0, 0, 0, 0.08);
    color: #fff;

    font-size: 15vw;
    font-weight: 700;
    line-height: 170px;
    margin: 0;
    width: 100%;
  }

  .foot-content {
    padding-top: 230px;

    h5 {
      margin: 0 auto;
      @extend .logo;
    }
  }
}