.header {
  position: relative;
  padding-top: 50px;
  margin-bottom: 50px;

  &-wrap {
    background-color: $light-blue;
    position: relative;
    height: 100vh;
    z-index: 2;
  }

  .phone {
    margin-left: 70px;
    transition: 0.5s;
    font-size: 14px;
    font-weight: 400;

    &:hover {
      color: $red;
      animation: jump 1s  1 ease;
    }
  }

  .buy {
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid ;
    /*opacity: 0.3;*/                /*Можно ли задать Опасити только для бордера?!!!*/
  }
}

.logo {
  position: relative;
  font-size: 24px;
  margin: 0;
  width: 70px;

  &:before {
    content: "";
    background-color: #fff;
    display: block;
    width: 11px;
    height: 11px;
    border: 3px solid $red;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    right: -13px;
    z-index: 7;
  }

  &:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 11px;
    height: 11px;
    border: 3px solid $red;
    background-color: $light-blue;
    top: 2px;
    right: -13px;
    z-index: -1;
  }

  &:hover:after {
    transition: 1s;
    opacity: 0;
    width: 35px;
    height: 35px;
    top: -10px;
    right: -25px;
  }
}

.mars {
  width: 38%;
  height: 100vh;
  background-color: $red;
  position: absolute;
  top: 0;
  left: 62%;
  z-index: -2;
  text-align: center;

  .text-mars {
    width: 100vh;
    height: 38vw;
    position: absolute;
    z-index: -1;

    top: calc((100vh - 38vw)/2 - 15px);
    right: calc(((38vw - 100vh)/2));

    line-height: 21vw;
    font-size: 17vw;
    text-transform: uppercase;
    color: $red;
    text-shadow: 0 0 55px rgba(0, 1, 1, 0.15);
    transform: rotate(90deg);
  }
}

.schroll-jump {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 110px;
  height: 100px;

  p {
    transform: rotate(-90deg);
  }

  &:hover {
    animation: jump 1s  1 ease;
  }
}

.block-contain {
  display: block;

  .dron {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
  }
}


/*----Menu styles----*/
.menu-bar {
  transition: .5s;
  width: 250px;
  height: 100vh;
  background-color: #616868;
  position: fixed;
  top: 0;
  right: -250px;

  ul li {
    width: 170px;
    list-style: none;
    margin-top: 25px;
    border-bottom: 1px solid #3b3c3d;
    text-align: center;

    a {
      font-weight: 400;
      transition: .5s;
      color: #eff2f6;
      
      &:hover {
        color: $red;
      }
    }
  }
}

.toggl-menu {
  right: 0;
}

.place-menu {
  width: calc(100% - 250px);
}

/* ----Slider---- */
.slider {
  padding: 0;
  margin: auto 0;

  .swiper-container {
    width: 100%;
    height: 200px;
  }
  .swiper-pagination-bullets {
    position: absolute;
    top: 50%;
    left: 0;
    margin: 10px 0;
    z-index: 15;

    .swiper-pagination-bullet {
      margin: 10px 0;
      width: 7px;
      height: 7px;

      &-active {
        background-color: $red;
      }
    }
  }

 .swiper-slide {
  width:  calc(100% - 65px);
  padding-left: 65px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

    h2 {
      padding: 0;
    }
  }
}


@media (max-width: 1199px) {

  .header {
    padding-top: 50px;
  }

  .slider .swiper-slide {
    width: calc(100% - 50px);
    padding-left: 50px;
  }
}

@media (max-width: 991px) {

  .header {
    padding-top: 30px;
  }

  .phone {
    margin-left: 50px;
  }
}

@media (max-width: 768px) {

  .block-contain {
    display: none;
  }

  .place-menu {
    width: 100%;
    left: -250px;
  }
}

@media (max-width: 500px) {

}