.text {
  &-color-white {
    color: #fff;
  }

  &-black {
    color: $black;
  }

  &-gray {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: $gray;
  }
}

.text-end {
  text-align: end;
}

.upper {
  text-transform: uppercase;
}

.marg-0 {
  margin-right: 0;
  margin-left: 0;

}

.pad-0 {
  padding-left: 0;
  padding-right: 0;
}

a:hover {
  text-decoration: none;
}

.pading-cont {
  padding-top: 120px;
  padding-bottom: 120px;
}




.flexes {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-row {
  flex-direction: row;
}

.align-i-center {
  align-items: center;
}

.just-c-sp-b {
  justify-content: space-between;
}